La librería de YFinance es para acceder al Yahoo Finance y obtener los datos

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import yfinance as yf

Lo siguiente es para obtener una n cantidad de años en datos para este caso es desde la fecha actual hasta hace 1 año (que seria lo que establecimos en start).

con strftime lo que hacermos es indicarle el formato de la fecha

In [3]:
today = pd.Timestamp.today()
start = today - pd.Timedelta(days=365)

start_date = start.strftime('%Y-%m-%d')

lo siguiente es opcional pero es para ver la fecha de inicio que queremos para extraer datos

In [4]:
start_date

'2022-09-26'

con yf.download() descargamos la data que queremos pasandole como parametro symbol, start y end
* Con sympbol lo que hacemos es pasarle la abreviatura de la página donde queremos obtener la información.
* con start le pasamos la fecha de inicio de recoleccion de los datos
* con end le indicamos hasta que dia queremos recoger los datos
para este caso sera desde hace un año hasta la fecha actual.

In [5]:
symbol = "SPY"
df_stock = yf.download(symbol, start=start_date, end=today)

[*********************100%%**********************]  1 of 1 completed

ahora para ver que es lo que descargamos lo podemos hacer con head()

In [6]:
df_stock.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-09-26,366.410004,370.209991,363.029999,364.309998,358.663818,92581200
2022-09-27,368.019989,370.399994,360.869995,363.380005,357.748230,108294100
2022-09-28,364.380005,372.299988,362.600006,370.529999,364.787415,110802200
2022-09-29,366.809998,367.109985,359.700012,362.790009,357.167419,112952300
2022-09-30,361.799988,365.910004,357.040009,357.179993,351.644318,153711200