La librería de YFinance es para acceder al Yahoo Finance y obtener los datos.

link del tutorial del que me guie para practicar:
- https://www.youtube.com/watch?v=aGBZ-R-BUWo

link de Yahoo Finance:
- https://finance.yahoo.com/

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

Lo siguiente es para obtener una n cantidad de años en datos para este caso es desde la fecha actual hasta hace 1 año (que seria lo que establecimos en start).

con strftime lo que hacermos es indicarle el formato de la fecha

In [18]:
today = pd.Timestamp.today()
start = today - pd.Timedelta(days=365)

start_date = start.strftime('%Y-%m-%d')

lo siguiente es opcional pero es para ver la fecha de inicio que queremos para extraer datos

In [19]:
start_date

'2022-09-26'

con yf.download() descargamos la data que queremos pasandole como parametro symbol, start y end
* Con sympbol lo que hacemos es pasarle la abreviatura de la página donde queremos obtener la información.
* con start le pasamos la fecha de inicio de recoleccion de los datos
* con end le indicamos hasta que dia queremos recoger los datos
para este caso sera desde hace un año hasta la fecha actual.

Para este caso se estara estudiando el cierre

In [20]:
symbol = "SPY"
df_stock = yf.download(symbol, start=start_date, end=today)[["Adj Close"]].copy()

[*********************100%%**********************]  1 of 1 completed

ahora para ver que es lo que descargamos lo podemos hacer con head()

In [21]:
df_stock.head()

             Adj Close
Date
2022-09-26  358.663818
2022-09-27  357.748260
2022-09-28  364.787415
2022-09-29  357.167419
2022-09-30  351.644348

ok ahora lo que aremos será calcular y asignar los retornos logarítmicos de nuestro archivo de datos a una nueva columna que se llamará returns.

con .loc lo que hacemos es acceder a las filas y columnas de nuestro DataFrame *'df_stock'*

In [27]:
df_stock.loc[:, "returns"] =np.log(df_stock["Adj Close"] / df_stock["Adj Close"].shift(1))

ahora veamos como se ve el calculo que hicimos

In [28]:
df_stock.head()

             Adj Close   returns
Date
2022-09-27  357.748260       NaN
2022-09-28  364.787415  0.019485
2022-09-29  357.167419 -0.021110
2022-09-30  351.644348 -0.015584
2022-10-03  360.928192  0.026059

con dropna eliminamos todos los datos que esten vacios

In [30]:
df_stock.dropna(inplace=True)

ahora vemos como se van todos los datos vacios

In [31]:
df_stock.head()

             Adj Close   returns
Date
2022-09-28  364.787415  0.019485
2022-09-29  357.167419 -0.021110
2022-09-30  351.644348 -0.015584
2022-10-03  360.928192  0.026059
2022-10-04  372.112152  0.030516

ahora calcularemos la desviación estándar y el promedio

In [32]:
mean_returns = df_stock["returns"].mean()
std_returns = df_stock["returns"].std()

In [33]:
mean_returns, std_returns

(0.0006973122873055619, 0.010893065206994524)